/* General rule */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Genaral style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic rule */
    color: 3a3a3a;
}
/* Header */
header {
    background-color: rgb(236, 234, 118);
}

/* Main */
main {
    background-color: rgb(240, 204, 240);
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: rgb(200, 247, 186);
}